
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>创意前端游戏 - Web前端技术实训</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/3rd/bs/css/bootstrap.flatly.min.css">
    <link rel="stylesheet" href="assets/3rd/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/game_presentation.css">
  </head>
  <body>
    <div class="navbar navbar-custom navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="./" class="navbar-brand">创意前端游戏</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	<li>
              <a href="#review">回顾</a>
            </li>
            <li>
              <a href="#games">作品</a>
            </li>
            <li>
              <a href="#about">关于</a>
            </li>
        </div>
      </div>
    </div>

    <div class="splash">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>127小时=？<br/><small>一款游戏，从0到1</small></h1>
            <h3>Web前端技术实训（夏季学期44100343），突破你的可能</h3>
            <div id="social">
              <span>
                <iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user=THUfe&repo=thufe.github.io&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                <iframe id="gh-star" src="http://ghbtns.com/github-btn.html?user=THUfe&repo=thufe.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
              </span>
            </div>
            <p class="pull-right">本页设计来自 <a href="//bootswatch.com" target="_blank">Bootswatch</a></p>
          </div>
        </div>

      </div>
    </div>

	<a id="review"></a>
    <div class="section-tout">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 第一课 6月30日<br/>Web前端概述&amp;HTML/CSS</h3>
            <p>没有描述o(╯□╰)o</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 第二课 7月2日<br/>JavaScript基础</h3>
            <p>没有描述o(╯□╰)o</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 第三课 7月4日<br/>DOM、事件、调试、jQuery</h3>
            <p>没有描述o(╯□╰)o</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 第四课 7月8日<br/>Ajax、WebSocket、HTML5&amp;CSS3</h3>
             <p>没有描述o(╯□╰)o</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 第五课 7月11日<br/>NodeJS基础、作业点评&amp;答疑</h3>
            <p>没有描述o(╯□╰)o</p>
          </div>
          <div class="col-lg-4 col-sm-6">
            <h3><i class="glyphicon glyphicon-tint"></i> 综合实验汇报 7月17日</h3>
            <p>7月11日10:46公布综合实验要求，7月16日18:00发布，合计127小时14分钟。</p>
          </div>
        </div>

      </div>
    </div>

	<a id="games"></a>
    <div class="section-preview">
      <div class="container" id="game-presentation">

		<script type="text/template" id="game-presentation-template">
        	<div class="row">
        	  {% for work in works %}
	          <div class="col-lg-4 col-sm-6">
	            <div class="preview">
	              <div class="image">
	                <a href="{{ work.url }}" target="_blank"><img src="{{ work.thumbnail }}" class="img-responsive" alt="{{ work.title }}"></a>
	              </div>
	              <div class="options">
	                <h3>{{ work.title }}</h3>
	                <div class="authors">
	                	{% for author in work.authors %}
	                		<a href="{{ author.homepage }}" target="_blank"><i class="fa fa-{{ ['male','female'][author.female || 0]}}"/>{{ author.name }}</a> 
	                	{% endfor %}
	                </div>
	                <p class="repo-options">
	                <!--
	                <iframe id="gh-fork" src="http://ghbtns.com/github-btn.html?user={{ work.github.user }}&repo={{ work.github.repo }}&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
                	<iframe id="gh-star" src="http://ghbtns.com/github-btn.html?user={{ work.github.user }}&repo={{ work.github.repo }}&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                	-->
                	&nbsp;
                	<a href="//github.com/{{ work.github.user}}/{{ work.github.repo }}" target="_blank" class="pull-left"><i class="fa fa-github"/> Fork me on Github</a>
                	<a href="{{ work.url }}" target="_blank" class="pull-right"><i class="glyphicon glyphicon-play"/> Play</a>
	                </p>
	              </div>
	            </div>
	          </div>
	          {% endfor %}
        	</div>
	    </script>
      </div>
    </div>

	<a id="about"></a>
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="//github.com/THUfe/" target="_blank">GitHub</a></li>
            </ul>
            <p>This page is made by <a href="//github.com/Epsirom" target="_blank" rel="nofollow">Epsirom</a>. Contact him at <a href="mailto:ta@chr.asia">ta@chr.asia</a>(for course only).</p>
            <p>Fork from <a href="//thomaspark.me" target="_blank" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>

          </div>
        </div>

      </footer>


    </div>


    <script src="assets/3rd/jq/jquery-1.11.1.min.js"></script>
    <script src="assets/3rd/bs/js/bootstrap.min.js"></script>
    <script src="assets/3rd/swig/swig.min.js"></script>
    <script src="assets/js/game_presentation.js"></script>
  </body>
</html>
